---
layout: default
---

<!-- Post title -->
<div class="post">
  <h1 class="post-title" style="text-align:center; font-size:36px">{{ page.title }}</h1>

  <span class="post-date" style="font-size: 18px">{{ page.date | date: "%m/%d/%Y"  }}
    <strong>Tags:</strong>
    <!-- function called assign to sort if first -->
    {% assign sorted_tags = page.tags | sort %}
      {% for tag in sorted_tags %}
        <a href="{{ site.baseurl }}/tags/#{{ tag | downcase }}">
          {{ tag }}
        </a>
      {% endfor %}
  </span>

  <section style="font-size: 16px">
    <p>{{ content }}</p>
  </section>
</div>

<!-- Related posts  -->
<div class="related" >
  <h2 style="font-size: 16px">Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3 style="font-size: 16px">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <small>{{ post.date | date_to_string }}</small>
            {{ post.title }}
          </a>
		    </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<!--  PayPal donation button -->
<div class="related">
    <h2 style="font-size: 14px">LIKE THIS ARTICLE? SUPPORT THE AUTHOR WITH OR BUY AUTHOR A COFFEE</h2>
      <a style="display: inline-block;" href="https://paypal.me/shirong0419?country.x=TW&locale.x=en_US">
    <img height="40" src="https://camo.githubusercontent.com/0e9e5cac101f7093336b4589c380ab5dcfdcbab0/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f67682f74776f6c66736f6e2f70617970616c2d6769746875622d627574746f6e40312e302e302f646973742f627574746f6e2e737667" />
     </a>
      <a style="display: inline-block;" href="https://www.buymeacoffee.com/qazqazqaz8D">
    <img height="40" src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" />
     </a>
</div>
